<div class="row">
  <div class="col-6">
    <h3>Fruits & Vegetables</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat deleniti provident sed tenetur, soluta
      corrupti
      repudiandae quos? Fugit natus, vitae dicta sapiente modi error possimus soluta, quis, eaque itaque excepturi.
    </p>
  </div>

  <div class="col-6">
    <div class="row justify-content-end">
      <div class="col-5">
        <select class="form-select" aria-label="Default select example">
          <option selected>Filter</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-7">
        <select class="form-select" aria-label="Default select example">
          <option selected value="Popular">Sort by Popular</option>
          <option value="Likes">Sort by Likes</option>
          <option value="Price">Sort by Price</option>
          <option value="Size">Sort by Size</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap justify-content-between ">
  <app-item-card *ngFor="let fruit of fruits" [fruit]="fruit"></app-item-card>
</div>