<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col-6 mx-auto">
      <div class="card shadow border">
        <div class="card-body">
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="text-center">
            <h2>Sign Up</h2>
            <span *ngIf="!loginValid">
              The username and password were not recognized
            </span>
            <div class="form-row">
              <div class="form-group">
                <input class="form-control mb-2" placeholder="Email" formControlName="email" [ngClass]="
                f['email'].errors && 
                f['email'].dirty&& 
                f['email'].touched?'is-invalid':'' || 
                  f['email'].valid?'is-valid':''" name="email" required>
                <div class="invalid-feedback">
                  Please provide a valid email address
                </div>
              </div>
            </div>
            <input class="form-control mb-2" type="password" placeholder="Password" formControlName="password"
              [ngClass]="f['password'].errors && 
            f['password'].dirty&&
            f['password'].touched
              ?'is-invalid':'' || f['password'].valid?'is-valid':''" name="password" required>
            <span class="invalid-feedback">
              Please provide a valid password
            </span>
            <input class="form-control mb-2" type="password" placeholder="Password again" [ngClass]="
            f['passwordAgain'].errors && 
            f['passwordAgain'].dirty&&
               f['passwordAgain'].touched
              ?'is-invalid':'' || f['passwordAgain'].valid?'is-valid':''" formControlName="passwordAgain"
              name="passwordAgain" required>
            <span class="invalid-feedback">
              Passwords don't match.
            </span>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary mb-2 mt-2" [disabled]="!signUpForm?.valid">Sign Up</button>
              </div>
              <p>Already have an account?.<a routerLink="../login">Log In</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>